﻿<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>

    <!--Stylesheets and icons-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/mainStyle.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='images/bean_32_32.ico')}}" rel="shortcut icon" />
    <link href="{{ url_for('static', filename='images/bean_512_512.png') }}" rel="apple-touch-icon"/>

    <!--Libraries-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/export-data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/boost.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

    <!--Own Code-->
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

<!--    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
<!--    <script src="https://code.highcharts.com/stock/highstock.js"></script>-->
<!--    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>-->
<!--    <script src="https://code.highcharts.com/modules/boost.js"></script>-->
<!--    <script src="../static/js/socket.io.js"></script>-->
<!--    <script src="../static/js/bootstrap.min.js"></script>-->
<!--    <script src="../static/js/index.js"></script>-->
<!--    <script src="../static/js/graph.js"></script>-->
<!--    <link href="../static/images/bean_32_32.ico" rel="shortcut icon"/>-->
<!--    <link href="../static/images/bean_512_512.png" rel="apple-touch-icon"/>-->
<!--    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>-->
<!--    <link href="../static/css/mainStyle.css" rel="stylesheet">-->


</head>
<body>

    <!--Flex Body-->
    <div class="flex-container">

        <!-- Heading -->
        <h1>Rancilio Dashboard</h1>

        <!-- Chart-->
        <div class='highstocks-figure'>
            <div id='main_plot'></div>
        </div>

        <!--Row of Cards-->
        <div class="button-collection">

            <!--Temp Card-->
            <div class="card">
                <div class="card-header">Temperature</div>
                <div class="card-body center large-number" id="temp_value">0.0</div>
            </div>

            <!--Pressure Card-->
            <div class="card">
                <div class="card-header">Pressure</div>
                <div class="card-body center large-number" id="pres_value">0.0</div>
            </div>

            <!--Heating Card -->
            <div class="card">
                <div class="card-header">Heating</div>
                <div class="card-body center">
                    <img class="svg" id="heating_svg" src="../static/fonts/lightning.svg">
                </div>
            </div>

            <!--Brew Card -->
            <div class="card">
                <div class="card-header">Brew</div>
                <div class="card-body center">
                    <button type="button"><img class="svg" id="brew_svg" src="../static/fonts/coffee.svg"></button>
                </div>
            </div>

            <!--Target Temp Card -->
            <div class="card">
                <div class="card-header">PID Setpoint</div>
                <div class="card-body center">
                    <input type="number" class="form-control large-number" min="80" max="125" value="80" id="target_temp">
                </div>
            </div>


            <!--PID Output Card -->
            <div class="card">
                <div class="card-header">
                    Boiler PWM
                    <button type="button"><img class="svg" id="pid_svg" src="../static/fonts/pid_logo.svg"></button>
                </div>
                <div class="card-body center">
                    <input type="number" class="form-control large-number" min="0" max="100" value="0" id="boiler_pwm">
                </div>
            </div>

            <!--PID Gain Card -->
            <div class="card">
                <div class="card-header">PID Gain</div>
                <div class="card-body">

                    <div class="card-body-row three">
                        <div class="prepend"><span>K<sub>p</sub></span></div>
                        <input type="number" class="content form-control" value="0.0" min="0" id="kp">
                    </div>
                    <div class="card-body-row three">
                        <div class="prepend"><span>K<sub>i</sub></span></div>
                        <input type="number" class="content form-control" value="0.0" min="0" id="ki">
                    </div>
                    <div class="card-body-row three">
                        <div class="prepend"><span>K<sub>d</sub></span></div>
                        <input type="number" class="content form-control" value="0.0" min="0" id="kd">
                    </div>

                </div>
            </div>

            <!--PID Output Card -->
            <div class="card">
                <div class="card-header">PID Output</div>
                <div class="card-body">

                    <div class="card-body-row three">
                        <div class="prepend"><span>P<sub>Term</sub></span></div>
                        <div class="content"><span id="pid_p">0.0</span></div>
                    </div>

                    <div class="card-body-row three">
                        <div class="prepend"><span>I<sub>Term</sub></span></div>
                        <div class="content"><span id="pid_i">0.0</span></div>
                    </div>

                    <div class="card-body-row three">
                        <div class="prepend"><span>D<sub>Term</sub></span></div>
                        <div class="content"><span id="pid_d">0.0</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>
</html>
