.card-header image {
    height: 1.1rem;
}

image .svg {
    background-color: transparent;
    filter: "invert(55%) sepia(69%) saturate(475%) hue-rotate(82deg) brightness(82%) contrast(93%)";
}

#heating_svg {
    height: 2.75rem;
}

#brew_svg {
    height: 3rem;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

#main_plot {
    height: 400px;
}

.button-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, 8rem);
  justify-content: center;
  grid-gap: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.highstocks-figure {
    padding: 0;
    margin: 0;
}

.large-number {
    font-size: 2.75rem;
    height: 2.75rem;
}

.card {
    background-color: #F7F7F7;
    width: 8rem;
    height: 8rem;
}

.card-header {
    background-color: transparent;
    width: 100%;
    height: 25%;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.card-body {
    background-color: transparent;
    padding: 0;
    margin: 0;
    height:75%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control::selection {
    color: darkorange;
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
}


.form-control {
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    height: auto;
}


.input-group {
    display: flex;
    height: 33%;
    margin: 0;
    padding: 0;
}

.input-group-prepend {
    background-color: transparent;
    text-align: center;
    border: none;
    width: 40%;
    padding: 0;
    margin: 0;
}


.input-group-text {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 50%;
    height: 100%;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-top: 6%;
}

.input-group .form-control {
    font-weight: 600;
}

.content.form-control {
    font-weight: 600;
}

.card-body-row {
    display: flex;
    background-color: transparent;
    width: 100%;
    align-items: center;
}

.card-body-row.three {
    height: 33%;
    font-weight: 600;
}

.card-body-row.two {
    height: 50%;
}

.prepend {
    text-align: center;
    background-color: transparent;
    width: 40%;
}

.content {
    text-align: center;
    background-color: transparent;
    width: 60%;
}

.prepend span, .content span {
    display: inline-block;
    text-align: left;
    width: 50%;
    white-space: nowrap;
}

.highcharts-container {
    width: 100%;
}
.highcharts-container svg {
    width: 100%;
    display: flex;
}



